
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-font: 'Roboto';
$primary-color: #1B2473;

body {
  background-color: $primary-color;
}

.main{
  color: #ffffff;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  font-family: $primary-font;
  font-size: 32px;
}

